html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  margin: 0;
  background-color: #33322F;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.canvas {
  display: none;
}

#particles {
  rect {
    fill: white;
  }
  
  line {
    stroke: rgba(white, 0.8);
  }
}